<nav class="navbar navbar-dark bg-secondary navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <img src="/img/pngwing-172.png">
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link text-light" href="/categories/page/1"> Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/products/page/1"> Produtos</a>
        </li>

    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item" style="float: right;">
            <a class="nav-link text-light" href="/admin/products"> Meus produtos</a>
        </li>
        <% if(JSON.stringify(user) != undefined){ %>
            <li class="nav-item" style="float: right;">
                <a class="nav-link text-light me-3" href="/"><%= user.email %></a>
        </li>
            <li class="nav-item" style="float: right;">
                    <a class="nav-link text-light me-3" href="/logout">Logout</a>
            </li>
        <% }else{ %>
            <li class="nav-item" style="float: right;">
                <a class="nav-link text-light me-3" href="/login">Login</a>
        </li>
        <% } %>    
        
    </ul>
</nav>