<%- include ('./partials/header.ejs') %> 
<body>
    
    <div class="container">

        <a href="/admin/categories/new" class="btn btn-success">Nova categoria</a>
        <a href="/admin/products/new" class="btn btn-success">Novo produto</a>

    </div>
    <h1>TESTANDO AS VIEWS COM BOOTSTRAP</h1>



</body>
<%- include ('./partials/footer.ejs') %> 

