<%- include ('./partials/header.ejs') %> 
<body>
    <%- include ('./partials/navbar.ejs') %> 
    <div class="container">
        <hr>
        <h1>Bem vindo ao MarketPlace de produtos usados!</h1>
        <hr>
        <a href="/admin/categories/new" class="btn btn-success">Nova categoria</a>
        <a href="/admin/products/new" class="btn btn-success">Novo produto</a>

        

    </div>
    



</body>
<%- include ('./partials/footer.ejs') %> 

